// customize bootstrap variables here:
@import "variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";


// Components
@import "bootstrap/component-animations";
@import "bootstrap/glyphicons";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
//@import "bootstrap/panels";
@import "bootstrap/wells";
//@import "bootstrap/close";

// Components w/ JavaScript
//@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

//fix path
/*
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
*/
/*basic tag override*/
hr{
	box-shadow:0 -1px 0 1px darken($brand-set-gray, 15% );
}
/*
Custom Mixins

*/
@mixin common-box-shadow(){
	box-shadow:0 -1px 10px rgba(0,0,0,.7);
}
@mixin nav-common()
{
	width:100%;
	margin:0;
}

/*colors*/

body{
	background:$brand-set-black;
}

.main-navtop
{
	@extend .navbar;
	@extend .navbar-default;
	@include nav-common;
}
.main-navtop-fp
{
	@extend .main-navtop;
	padding:30px;
	z-index:1;
}

/*main nav fix top*/
.yellow-navtop-fixedtop{
	@extend .navbar-fixed-top;
	background: darken($brand-set-yellow, 3%);
	
	/*remove custom spacing*/
	padding: 0;
	
	@include common-box-shadow();
	
	.navbar-nav {
    > li > a {
      color: $brand-set-white;

      &:hover,
      &:focus {
        color: $brand-set-white;
        background-color: $brand-set-yellow;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-set-white;
        background-color: darken($brand-set-yellow, 10%);
      }
    }
    }
}
/*Component enhancement */
.dropdown-menu li a{
	border-left:3px solid #fff;
	}
.dropdown-menu li a:hover{
	border-left-color:$brand-set-green;
	color:$brand-set-green;
	}

/* headline typo*/
$headline-line-height : 150%;
$gray-headline-color: #6C6C6C;
$yellow-headline-color:$brand-primary;

.default-headline{
	display:inline;
	line-height:$headline-line-height;
}

@mixin makeGrayHeadline(){
	@extend .default-headline;

	color:$gray-headline-color;
	text-shadow:0 1px #FFF;
}

@mixin makeColorHeadline($bgcolor, $txtcolor: #fff){
	@extend .default-headline;

	color:$txtcolor;
	background:$bgcolor;
	box-shadow:.3em 0 0 $bgcolor, -.3em 0 0 $bgcolor;
	padding-right: .3em;
	&:hover{
	color: $txtcolor;
	}
	a, a:hover{
		color: $txtcolor;
	}

}


.clr-font-yellow{
	@include makeColorHeadline($brand-primary);
}
.clr-font-green{
	@include makeColorHeadline($brand-set-green);
}

/*Panel, Slide, Banner...*/

body, html{
height:100%;

}

@mixin makeParaSlide( $min-height,$z-index:-1){
	position:relative;
	width:100%;
	min-height:$min-height;
	box-sizing:border-box;
	padding:10%;	
	
	&:before{
		content:"";
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		@include common-box-shadow();
		z-index:$z-index;
	}
	
}

.slide-headline-default{
	@include makeParaSlide( 100%);	
	&:before{
	  background-color: $brand-set-gray;
	}
	h1{
		@include makeGrayHeadline();
	}
	
}

.slide-headline-has-bg{
	@include makeParaSlide(100%);	
	
	&:before{
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:	fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity:0.8;
	}
	
	h1{
		@include makeColorHeadline($brand-primary);
	}

}

.content-title-default{
	@include makeParaSlide(33%);	
	padding:5% 10%;
	background:url('http://static.treyh.info/img/bg.png');
	&:before{
		background:$brand-set-gray;
		}
	h1{
		@include makeGrayHeadline();
	}
}

.content-title-has-bg{
	@include makeParaSlide(33%);	
	padding:5% 10%;
	&:before{
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
	h1{
		@include makeColorHeadline($brand-primary);
	}
}


.site-logo{
	
	margin:auto;
	height:128px;
	width:128px;
	display:block !important;
	background:url('http://static.treyh.info/logo.png');
	text-indent:9999px;
	overflow:hidden;
	}
.site-title-default{
	@extend .content-title-default;
	
}


.content-section{
	background:$brand-set-gray;
	.row {margin-top:1em;}
	h1{
	@include makeGrayHeadline();
	}
	h2{
	@include makeGrayHeadline();
	}
	h3{
	@include makeGrayHeadline();
	}
}

/*grid to layout*/
.post-side{
	@extend .col-xs-12; 
	@extend .col-md-3;
	@extend .col-lg-3;
}
.porfile-pic{
 @extend .col-xs-4;
 @extend .col-md-12;

}
.short-aboutme{
	@extend .col-xs-8;
	@extend .col-md-12;
	
}
.post-followup{
	@extend .col-xs-12;
	@extend .col-md-6;
}
.post-extra,.post-body{
	@extend .col-xs-12;
}
.post-content{
	@extend .col-xs-12;
	@extend .col-md-9;
	@extend .col-lg-9;
}
.sharethis
{
 margin-top:3px;
}
#disqus_thread{
	@extend .col-xs-12;
}
.footer{
	color:$gray-light;
	min-height:200px;
	background:$brand-set-black;

}



