// customize bootstrap variables here:
@import "variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";


// Components
@import "bootstrap/component-animations";
@import "bootstrap/glyphicons";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
//@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
//@import "bootstrap/panels";
//@import "bootstrap/wells";
//@import "bootstrap/close";

// Components w/ JavaScript
//@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

//fix path

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*basic tag override*/
hr{
	box-shadow:0 -1px 0 1px darken($brand-set-gray, 15% );
}
/*
Custom Mixins

*/
@mixin common-box-shadow(){
	box-shadow:0 -1px 10px rgba(0,0,0,.7);
}
@mixin nav-common()
{
	width:100%;
	margin:0;
}

/*colors*/

.black-bg
{
	background:#000;
}

.gray-bg{
	background:$brand-set-gray;
}

.main-navtop
{
	@extend .navbar;
	@extend .navbar-default;
	@include nav-common;
}
.main-navtop-fp
{
	@extend .main-navtop;
	padding:30px;
}

/*main nav fix top*/
.yellow-navtop-fixedtop{
	@extend .navbar-fixed-top;
	background: darken($brand-set-yellow, 3%);
	
	/*remove custom spacing*/
	padding: 0;
	
	@include common-box-shadow();
	
	.navbar-nav {
    > li > a {
      color: $brand-set-white;

      &:hover,
      &:focus {
        color: $brand-set-white;
        background-color: $brand-set-yellow;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-set-white;
        background-color: darken($brand-set-yellow, 10%);
      }
    }
    }
}

/* headline typo*/
$headline-line-height : 150%;
$gray-headline-color: #6C6C6C;
$yellow-headline-color:$brand-primary;

.default-headline{
	display:inline;
	float:none;
	line-height:$headline-line-height;
	clear:both;
}

@mixin makeGrayHeadline($size){
	@extend .default-headline;
	@if $size{
		font-size:$size;
	}
	
	color:$gray-headline-color;
	text-shadow:0 .02em #FFF;
}
@mixin makeYellowHeadline($size){
	@extend .default-headline;
	font-size:$size;
	color:#FFF;
	background:$yellow-headline-color;
	box-shadow:.3em 0 0 $yellow-headline-color, -.3em 0 0 $yellow-headline-color;

}

.h3-yellow{
	@include makeYellowHeadline($font-size-h3);
}


/*Panel, Slide, Banner...*/

@mixin makeParaSlide( $min-height,$z-index:-1){
	position:relative;
	min-height:$min-height;
	box-sizing:border-box;
	padding:10vh 10%;	
	
	&:before{
		content:"";
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		@include common-box-shadow();
		z-index:$z-index;
	}
	
}

.slide-headline-default{
	@include makeParaSlide( 100vh);	
	font-size : 3vmax;
	&:before{
	  background-color: $brand-set-gray;
	}
	h1{
		@include makeGrayHeadline(5vmax);
	}
	
}

.slide-headline-has-bg{
	@include makeParaSlide(100vh);	
	font-size : 3vmax;
	&:before{
		background-position: 50% 50% /cover;
		background-attachment: fixed;
		opacity:0.8;
	}
	
	h1{
		@include makeYellowHeadline(5vmax);
	}
}

.content-title-default{
	@include makeParaSlide(33vh);
	
	&:before{
	  background-color: $brand-set-gray;
	}
	h1{
		@include makeGrayHeadline(3vmax);
	}
}

.content-title-has-bg{
	@include makeParaSlide( 33vh);	
	
	&:before{
		background-position: 50% 50% /cover;
		background-attachment: fixed;
	}
	
	h1{
		@include makeYellowHeadline(3vmax);
	}
}

.content-section{
	h1{
	@include makeGrayHeadline($font-size-h1);
	}
	h2{
	@include makeGrayHeadline($font-size-h2);
	}
	h3{
	@include makeGrayHeadline($font-size-h3);
	}
}








